{% extends '::base.html.twig' %}

{% block css %}
<link rel="stylesheet" href="{{ asset('/bundles/msiadmin/vendor/bootstrap/css/bootstrap.min.css') }}">
{% endblock css %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
{% endblock js %}

{% block body %}
<div class="container">
    {% block content %}{% endblock content %}
</div>
{% endblock body %}
